{{- define "slack.title" -}}
[{{ .GroupLabels.severity | toUpper }}] {{ .GroupLabels.alertname }}
{{- end -}}

{{- define "slack.text" -}}
*Instance:* {{ .CommonLabels.instance }}
*Summary:* {{ .CommonAnnotations.summary }}
*Description:* {{ .CommonAnnotations.description }}
*Active since:* {{ .StartsAt.Format "2006-01-02 15:04:05 UTC" }}
{{- if gt (len .Alerts.Firing) 1 }}
*Total alerts:* {{ len .Alerts.Firing }}
{{- end }}
<{{ .ExternalURL }}|View in Alertmanager>
{{- end -}}

{{- define "slack.title.emergency" -}}
🚨 [EMERGENCY] {{ .GroupLabels.alertname }}
{{- end -}}

{{- define "slack.text.emergency" -}}
<!channel> *IMMEDIATE ACTION REQUIRED*
*Instance:* {{ .CommonLabels.instance }}
*Summary:* {{ .CommonAnnotations.summary }}
*Description:* {{ .CommonAnnotations.description }}
*Current value:* {{ .CommonAnnotations.value }}
*Active since:* {{ .StartsAt.Format "2006-01-02 15:04:05 UTC" }}
<{{ .ExternalURL }}|View in Alertmanager>
{{- end -}}
